<!DOCTYPE html>
<html>

    </style>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class ="container-fluid">
            <div class="row">
                <div class="col-md-3" style="min-height: 100vh; background-color: gray;">
                    <form class="form-inline" action="{{ url_for('Render') }}">
                        <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon">Please select</span>
                                  <select name="data_select" class="selectpicker form-control">
                                    <option>TestFolder</option>
                                    <option>aisdk_20200429</option>
                                    <option>aisdk_20200430</option>                                        
                                  </select>
                          </div>
                          <button type="submit" class="btn btn-default">Go</button>
                        </div>
                      </form>
                </div>
                <div class="col-md-9">
                    <img src="{{url_for('static', filename='Datapoint2.png')}}" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html> 